/**
 * Custom admin styles go here.
 **/

#theme-options .block{display: block;}
#theme-options .checkbox-list,
#theme-options .radio-list{padding: 0; margin: 0;}
#theme-options .checkbox-list li,
#theme-options .radio-list li{list-style-type: none; display: inline; margin-right: 20px;}
#theme-options .description em{font-family: monospace; font-weight: bold; color: #21759B;}
#theme-options .field li label{display: inherit;}
#theme-options textarea{width: 70%; height: 10em;}

#page-help{}
#page-help h2{}
#page-help .shortcode{background-color: #fcfcfc; border: 1px solid #e0e0e0;}
#page-help .name{font-size: 18px; margin: 0 0 1em 0; background-color: #eaeaea; padding: 10px; border-bottom: 1px solid #e0e0e0;}
#page-help .documentation{line-height: 1.5em; padding: 10px;}

body.login #nav{float: left; width: 50%;}
body.login #backtoblog{margin-left: 50%;}
body.login #nav,
body.login #backtoblog{padding: 0;}
body.login #nav a,
body.login #backtoblog a{color: #666 !important; font-size: 14px; text-decoration: none; padding: 10px;}
body.login #nav a:hover,
body.login #backtoblog a:hover{text-decoration: underline; color: #000 !important;}
body.login #lostpasswordform,
body.login #loginform{margin-bottom: 20px;}
body.login #login h1 a{background: transparent url('../img/login-logo.png') no-repeat 50% 0; text-indent: 0; text-align: center; text-decoration: none; padding-top: 92px; height: inherit; font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif"; color: #333;}
body.login #login h1 a:hover{color: #555;}
body.login #login h1 a .hide{display: block;}

.description code { background:none; font-weight:bold; color:#21759B; padding:0; }

tr.section{padding-bottom: 20px;}
tr.section td{padding: 0;}
tr.section td td{padding: 10px; margin: 0;}
tr.section h3{padding: 10px; margin: 0; background-color: #efefef; color: #21759B; border: 1px solid #DFDFDF;}
tr.section table{padding: 0; margin: 0 0 20px 0;}

#issuu {}
#issuu #preview-popup {display:none;position:fixed;width:700px;height:500px;border:1px solid #000;background-color:#e9e9e9;border-radius:2px;margin-left:100px;margin-top:20%;}
#issuu #preview-popup a.close {display:block;width:28px;height:34px;position:absolute;right:5px;top:5px;background-image:url('../img/close.png');}
#issuu #preview-popup a.close:hover {cursor:pointer;}
#issuu #documents {}
#issuu #documents > li {float:left;width:220px;background-color:#f1f1f1;margin:5px;border-radius:3px;}
#issuu #documents > li.first {margin-left:0;clear:left;}
#issuu #documents > li.last {margin-right:0;}
#issuu #documents > li .thumb {text-align:center;padding-top:10px;}
#issuu #documents > li .thumb > img {width:200px;}
#issuu #documents > li .title {font-size:140%;line-height:1.3em;padding:10px 5px 0 5px;text-align:center;}
#issuu #documents > li .details {text-align:center;margin:5px 5px 10px 5px;background-color:#f1f1f1;}
#issuu #documents > li .details a {display:block;font-size:120%;background-color:#FFC907;padding:5px;margin:5px 0;color:#000;border-radius:3px;}
#issuu #documents > li .details a:hover {cursor:pointer;}
#issuu #documents > li .more_details {text-align:left;margin:0 5px;}
#issuu #documents > li .more_details h4 {margin:0;}
#issuu #documents > li .more_details p {margin:0 5px;padding:3px;}
